<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="AllowedCategories" value="" />
		<add key="ExcludedCategories" value="" />
	</appSettings>
</configuration>

<!--
	Categories:
	"3d",
	"abstract",
	"animals",
	"anime",
	"art",
	"black",
	"black_and_white",
	"cars",
	"city",
	"dark",
	"fantasy",
	"flowers",
	"food",
	"holidays",
	"love",
	"macro",
	"minimalism",
	"motorcycles",
	"music",
	"nature",
	"other",
	"space",
	"sport",
	"technologies",
	"textures",
	"vector",
	"words"
-->